.user {
    display: block;
    justify-self: center;
    height: 500px;
    width: auto;
    max-width: 90rem;
}

.search-head{
    margin: 0 30px;
    height: 50px;   
    display: flex;
    justify-content: left;
}

.search{
    margin: 10px 0px;
    width: 80%;
    max-width: 400px;
    border-radius: 50px;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: rgb(226, 226, 226);
    padding: 10px 20px;
}

.tablee {
    width: 100%;
    margin: 0 auto;
    border-radius: 5px !important;
    max-height: 600px; 
    overflow-y: auto; 
    overflow-x: hidden;
}

.tablee th{
    background-color: #e8f4e8 !important;
    color: rgb(22, 22, 22) !important;
    text-align: center;
    padding: 10px;
    border: none;
    width: auto;
    text-align: center;
    font-weight: bolder !important;
}

.tablee td{
    border: none;
    padding: 15px;
    text-align: center;
    width: auto;
}

.tablee td:first-child{
    width: 50px;
}
.tablee td:last-child{
    font-style: italic;
}

.tr01 th:first-child {
    border-top-left-radius: 6px;
    width: 50px;
}

.tr01 th:last-child {
    border-top-right-radius: 6px;
}

