.checkout-container {
    /* background-color: #004725; */
    width: 100%;
    height: 645px;
    overflow-y: auto;
    margin-top: 85px;
}

/* Hide the scrollbar for WebKit browsers (like Chrome, Safari) */
.menu-maincontainer::-webkit-scrollbar {
    display: none; 
}

/* Hide scrollbar for Firefox */
.menu-maincontainer {
    scrollbar-width: none; /* Hides the scrollbar */
}

/* Optional: Customize scrolling appearance */
.menu-maincontainer {
    -ms-overflow-style: none; /* Hides the scrollbar for IE and Edge */
}

.main-checkout {
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 100%;
    height: 610;
    padding: 30px 50px 50px 50px;
    /* background-color: red; */
}

form {
    width: 70%; 
    /* height: 100%; */
    /* background-color: #3B1C18; */
}

.main-info-container {
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    /* background-color: green; */
}

.order-summary {
    width: 30%;
    max-height: 985px;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    /* background-color: blue; */
    padding-bottom: 30px;
}


.customer-info {
    /* background-color: yellow; */
    padding: 25px;
}


.checkout-title {
    color: #3B1C18;
    font-family: Inter;
    font-size: 24px;
    font-style: italic;
    font-weight: 800;
    line-height: normal;
}

.info-divider {
    margin-left: 5%;
    width: 90%;
    height: 1.5px;
    background-color: rgba(128, 128, 128, 0.312);
    margin-top: 10px;
}

.r1 {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.r2 {
    display: flex;
    flex-direction: row;
    gap: 40px;
}


.input-container {
    position: relative;
    width: auto; 
    margin: 10px 0;
}

.styled-input {
    width: 350px;
    padding: 15px 10px 5px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    height: 55px;
    color: #3B1C18; 
    border: 1px solid #ddd; 
    border-radius: 10px;
    background-color: white;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow:rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


.floating-label {
    position: absolute;
    left: 10px;
    color: #7a6a6a; 
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transform: translateY(-50%);
}

.input-container:focus-within .floating-label,
.styled-input:not(:placeholder-shown) + .floating-label {
    top: 15px;
    font-size: 11px;
    color: #5E2D26; 
}

.service-opt {
    /* background-color: yellow; */
    padding: 25px;
}

.radio-btn {
    display: flex;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
    color: #110301;
    font-family: Inter;
    font-size: 20px;
    font-style: italic;
    line-height: normal;
}

#pickup {
    margin-left: 200px;
}

.radio-btn label {
    font-weight: 700;
}

.radio-btn input {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
}

.sub-title {
    color: #3B1C18;
    font-family: Inter;
    font-size: 16px;
    font-style: italic;
    font-weight: 800;
    line-height: normal;
    margin-left: 50px;
}

.deliver-to {
    display: flex;
    gap: 20px;
    padding: 0px 50px 0px 50px;
    /* background-color: blue; */
}

.deliver-map {
    /* background-color: red; */
    width: 50%;
    height: 350px;
    overflow: hidden;
}

.address-info {
    /* background-color: red; */
    width: 50%;
    height: 350px;
    
}

.delivery-address {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    padding: 30px 20px 30px 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    width: 100%;
    height: 50px;
    margin-left: 5%;

}

.delivery-address textarea {
    background-color: transparent;
    border: none;
    width: 100%;
    resize: none;
    color: #110301;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* background-color: #3B1C18; */
    

}


#details-address {
    border: none;
    box-shadow: none;
    width: 100%;
    margin-left: 5%;
    resize: none;
    height: 120px;
    padding-top: 30px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

#details-label {
    margin-left: 5%;
}

.payment-method {
    padding: 25px;
    /* background-color: red; */
}

.payment-method .radio-btn {
    display: flex;
    gap: 20px;
}

.payment-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-content: center;
    width: 350px;
    background-color: white;
    padding: 10px 10px 5px 10px;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.payment-container input {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
}

.apply-discount {
    padding: 25px;
}

.input-discount {
    width: 350px;
    height: 40px;
    color: #110301;
    font-family: Inter;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.discount-inputs {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
    height: auto;
    padding-top: 20px;
    /* background-color: red; */
}

/*order summary*/

.order-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: #004725;
}

.order-header h1 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 10px;
}

.summary-info {
    padding: 10px;
}

.order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #004725; */
}

.main-order {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 350px;
    height: 30px;
    /* background-color: red; */

}


.name-order, .quantity-container {
    color: #110301;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.prod-info {
    display: flex;
    flex-direction: column;

}

.name-order {
    margin: 0; /* Remove any default margin */
    color: #110301;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.customization {
    font-size: 12px; /* Slightly smaller if desired */
    color: #666; /* Adjust color as needed */
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
    line-height: 1; /* Ensure close spacing */
}


.quantity-container {
    border: 1px solid black;
    border-radius: 5px;
    height: fit-content;
    padding: 2px;
}

.order-price1 {
    padding-top: 17px;
    font-size: 20px;
}

.other-details {
    /* background-color: red;  */
    margin-top: 20%;  
    padding: 10px 10px 0px 10px;
}

.delivery-fee, .discounts-applied, .total-details, .total {
    display: flex;
    justify-content: space-between;
}



.deliveryfee-title, .discount-title, .totalprice-title {
    color: #110301;
    font-family: Inter;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}

.delivery-price, .discount-price, .totalprice{
    color: #110301;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.discount-title, .discount-price  {
    color: #B71700;
}

.discount-type {
    color: #B71700;
    font-family: Inter;
    font-size: 12px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    margin-left: 20px;
    /* background-color: blue; */
}

.total-title, .grand-totalprice {
    color: #110301;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.discount-inputs select, .input-discount, .verify-btn {
    background-color: white;
    padding: 10px;
    font-size: 15px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.verify-remarks {
    text-align: center;
    color: #004725;
    font-weight: 500;
}

.checkoutbtn-container {
    display: flex;
    justify-content: center;
    /* background-color: red; */
    padding: 10px;
    margin-top: 10px;
}

.checkoutbtn-container button {
    width: 200px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    border: none;
    background-color: #864339;
    padding: 10px;
    border-radius: 10px;
}

.discount {
    color: #110301;
    font-family: Inter;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
  
.paymentModal-content {
    background: white;
    /* padding: 20px; */
    border-radius: 8px;
    text-align: center;
    width: 450px;
}


.main-content-payment {
    /* background-color: #666; */
    padding: 20px;
    border-radius: 0px 0px 8px 8px;
}

.payment-header h2{
    color: #FFFEF6;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
  
.payment-header {
    height: auto;
    background-color: #3B1C18;
    width: 450px;
    padding: 20px;
    border-radius: 8px 8px 0px 0px;
}

.paymentModal-content .close-btn-payment {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3B1C18;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.paymentModal-content .close-btn-payment:hover {
    background-color: #5C8F4C;
}
  
.paymentOptions-container {
    /* background-color: #004725; */
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.payment1 {
    background-color: white !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 80%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #3B1C18;
    text-align: center;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.payment1:hover {
    background-color: #3B1C18 !important;
    color: white;
}

.no-orders-message {
    text-align: center;
}