  .modal-overlay {
      display: flex;
      background: rgba(0, 0, 0, 0.5);
      justify-content: center;
      align-items: center;
      z-index: 1000;
    }

  .headCI{
      display: flex;
      border-radius: 11px;
      background-color: #5C8F4C;
      width: 100%;
      max-width:100%;
      margin-bottom: 20px;
      height: 30px;
      color: azure;
      justify-content: center ;
      align-self: center;
      
  }

  .headCItext{
      display: flex;
      font-weight:bold;
      font-size: 15px;
      text-align: center;
      align-self: center;
  } 
    
    .modal-content {
      background: rgb(241, 241, 241);
      padding: 20px;
      border-radius: 15px;
      height: auto;
      width: 45rem;
      max-width: 100% ;
      text-align: left;
    }
    
    .btnCI{
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: flex-end;
      color: rgb(253, 246, 246);
      width: 8rem;
      height: 25px;
      margin: 20px;
      font-weight:500;
      border-radius: 5px;
      background-color: #5e2d26;
    }

    .btnCI:hover{
      background-color: #5C8F4C;
    }

    .cup{
      position: absolute;
      width: 20rem;
      height: 20rem;
      opacity: 5%;
      z-index: 10000;
    }
.fnameCI , .addressCI , .numCI, .emCI {
  background-color: rgba(208, 207, 207, 0.407);
  border-bottom: 2px solid rgba(101, 101, 101, 0.815);
  border-radius: 10px;
  margin: 10px;
}

.idCI{
  color:#5e2d26;
  background-color: none;
  padding-left: 15px;
}
.contentCI{
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Define two columns with equal width*/
}
.contentCI p{
  font-weight: 600;
  padding: 0px 20px;
  font-size: 15px;
}

.fnameCI label, .addressCI label, .numCI label, .emCI label{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #603933;
  padding-top: 0px;
  padding-left: 10px;
}