.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    padding-top: 100px;
}

.faqs-map {
    display: flex;
    flex-direction: row; /* Align FAQs and map side by side */
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.faqs-container {
    width: 60%; /* Adjust width for the FAQ section */
    padding: 20px 50px 20px 50px;
    height: auto;
}

.map-container {
    width: 40%; /* Adjust width for the Map section */
    height: 500px;
    padding: 20px;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    color: #5E2D26;
    padding: 0px 10px 10px 0px;
}

.accordion-button:not(.collapsed) {
    color: #ffffff;
    font-weight: bold;
    background-color: #5e2d26;
    box-shadow: none;
}

.accordion-button.collapsed {
    box-shadow: none;
}

.footer {
    width: 100%;
}

.content-faqs {
    font-size: 15px;
    text-align: justify;
}
