.navbar {
  background-color: white !important;
}

.container-fluid {
 height: 70px;
 background: rgba(255, 255, 255, 0) !important;
 display: flex;
 align-items: center;
 padding: 0 15px;
}

.logo {
 width: 200px;
 height: auto;
}

.logo:hover, .nav-item:hover {
 cursor: pointer;
}

.navbar-nav {
 margin-left: auto;
 display: flex;
 align-items: center;
 gap: 20px; /* Maintain consistent spacing between items */
 padding: 0;
 list-style: none;
 /* background-color: rgb(0, 30, 255); */
}

.nav-item {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 100px; /* Fixed width for consistent alignment */
 padding: 10px 0; /* Adjusted padding for spacing */
 /* background-color: aqua; */
 height: 70px;
}

.nav-link {
 display: flex;
 flex-direction: column;
 align-items: center;
 text-decoration: none;
 color: inherit;
 /* background-color: rgb(59, 146, 146); */
 width: 100px; 
}

.home, .my-order, .my-cart, .account {
  width: 25px;
}

.text {
 font-size: 14px;
 color: #5E2D26 !important;
 text-align: center;
}

#dropdown-basic {
 display: flex;
 flex-direction: column;
 align-items: center;
 font-size: 14px;
 font-weight: bold;
 background-color: transparent!important;
 width: 100px;
 height: 60px;
}

/* Responsive styling */
@media (max-width: 767px) {
 .navbar-nav {
   flex-direction: column;
   margin-left: 0;
   margin-top: 15px;
   width: 100%;
 }

 .nav-link {
   margin: 10px 0;
 }
}


/* Cart Dropdown Styling */
.cart-main {
 display: flex;
 flex-direction: column;
 gap: 10px;
 width: 400px;
 max-height: 500px;
 overflow-y: auto;
 /* overflow-x: hidden; */
 border-radius: 15px;
 background-color: white;
 box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
 padding: 10px;
 background-image: url('./image/cup-logo.png');
 background-repeat: no-repeat;
 background-size: contain;
 background-position: center;

}

#cart-dropdown {
  background-color: transparent;
  border: none;
}

.cart-header {
  display: flex;
  align-content: center;
  gap: 10px;
  color: #5E2D26;
  padding-left: 10px;
  padding-top: 5px;
  /* background-color: aliceblue; */
}

#title-cart {
  color: #3B1C18;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding: 0px;
  /* ma */
  /* background-color: aqua; */
}

#cart {
  /* background-color: aqua; */
  height: 35px;
}

.cart-container {
 max-height: 300px;
 overflow-y: auto;
 overflow-x: hidden;
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.cart-container::-webkit-scrollbar {
 width: 0;
}

.cart-container {
 scrollbar-width: none;
}

.checkout-div {
 display: flex;
 flex-direction: column;
 align-items: center; 
 width: 100%;
}

.checkout-btn {
 border: none;
 border-radius: 10px;
 background-color: #5E2D26;
 padding: 10px;
 color: white;
 font-weight: bold;
}

.row1 {
  display: flex;
  align-items: center;
  /* background-color: aqua; */
  width: 100%;
  justify-content: space-between;
}

.row3 {
  /* background-color: aquamarine; */
  display: flex;
  justify-content: right;
  gap: 5px;
}

.addons {
  color: #351916;
  /* text-align: center; */
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}

.price {
  color: #351916;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.addquan-btn, .remove-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px; 
  height: 20px;
  border: 1px solid #5E2D26;
  background-color: #5E2D26;
  font-size: 18px; 
  line-height: 1;
  text-align: center;
  color: white;
  border-radius: 2px;
}

.product-info {
  width: 100%;
  padding: 3px;
  /* background-color: #da8279; */
  
}

.img-div {
  /* background-color: aqua; */
  max-width: 100px;
  white-space: nowrap;    
  overflow: hidden;          
}

.prod-img {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.quantity {
  color: #3B1C18;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
}

.prod-name {
  color: #3B1C18;
  /* text-align: center; */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  width: 190px;
  /* background-color: aqua; */
  white-space: nowrap;    
  overflow: hidden;          
  text-overflow: ellipsis;   
}


.product {
  border-radius: 20px;
  padding: 5px;
  border: 2px solid rgba(0, 0, 0, 0.08);
  background: #ffffff;
  box-shadow: 0px 1px 0.5px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 100px !important;
  width: 100%;
  justify-items: center;
}

.product:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

#drop-list:hover {
  background-color: transparent;
  box-shadow: none;
}

.total-price{
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 90%;
}

#total {
  color: #3B1C18;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#total-title {
  color: #3B1C18;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.division{
  background-color: rgba(178, 178, 178, 0.373);
  height: 2px;
  width: 90%;
  margin-top: 30px;
  margin-bottom: 5px;
}