body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.full-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.scrollable {
  overflow-x: hidden;
  overflow-y: scroll;
  flex: 1;
  scroll-behavior: smooth;

  /* Hide scrollbar for WebKit browsers */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for Firefox */
  scrollbar-width: none;
}

/* Normal scrolling for the Drinks page */
.normal-scroll {
  overflow-y: auto; /* Show scrollbars */
  scroll-behavior: smooth;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
